# Ignore local environment variables
.env
*.env
node_modules/

**/node_modules/

# Vite cache/build artifacts
**/.vite/
**/dist/
**/build/

# env files & keys
gcp-key.json

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments (optional but recommended)
venv/
.env/
.venv/

# OS / editor junk
.DS_Store
.vscode/
.idea/

# Logs
*.log